.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    width: 100%;
    color: white;
    background-color: black;
    min-height: 100px;
    align-content: center;
}
.footer a {
    color:white;
}
